@charset "UTF-8";

body {
	margin: 0;
	font-size: 12px;
	background-color: #EEE;
	font-family: Helvetica;	
}

.searchterm {
	background-color: #FFF;
	text-align: center;
	padding: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid #CCC;
	font-size: 18px;
}

.results {
	background-color: #FFF;
	padding: 10px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: 1px solid #CCC;
}