@charset "UTF-8";

body {
	background: rgb(254,255,255);
	background: -moz-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%, rgba(221,241,249,1) 35%, rgba(129,188,211,1) 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(254,255,255,1)), color-stop(35%,rgba(221,241,249,1)), color-stop(100%,rgba(129,188,211,1)));
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(129,188,211,1) 100%);
	background: -o-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(129,188,211,1) 100%);
	background: -ms-radial-gradient(center, ellipse cover,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(129,188,211,1) 100%);
	background: radial-gradient(ellipse at center,  rgba(254,255,255,1) 0%,rgba(221,241,249,1) 35%,rgba(129,188,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#81bcd3',GradientType=1 );
	margin: 0;
}

.name {
	color: #000;
	font-size: 32px;
	text-align: center;
	font-family: Georgia;
	text-shadow: 0px 1px 3px #333;
}

.search {
	padding: 10px;
	width: 30%;
	border: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	box-shadow: 0px 0px 13px #333;
	font-family: Georgia;
}
