@charset "UTF-8";

body {
        margin: 0;
        font-size: 12px;
        background-color: #FFF;
        font-family: Helvetica;
}

a {
        color: #000;
        text-decoration: none;
        font-weight: bold;
}

.holder {
        margin-left: auto;
        margin-right: auto;
}

.searchterm {
        background-color: #333;
        color: #FFF;
        padding: 10px;
        margin-bottom: 10px;
}

.results {
        background-color: #FFF;
        padding: 10px;
        margin-bottom: 10px;
}

.results:hover {
        background-color: #EEE;
        -webkit-transition: background-color .5s ease;
        -moz-transition: background-color .5s ease;
        -o-transition: background-color .5s ease;
        -ms-transition: background-color .5s ease;
        transition: background-color .5s ease;
}

.description {
        color: #AAA;
        font-weight: 100;
}

.url, a.url {
        color: #CCC;
        font-style:italic;
        font-size: 10px;
        font-weight: 100;
}

.version {
        position: fixed;
        bottom: 0;
        right: 0;
        font-size: 10px;
        font-family: "Times New Roman", Times, serif;
        padding: 5px;
}
